{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle::pagination.html.twig' as pagination %}

{% block body %}
    <div id="container">
        <!-- grid content -->
        <div id="userGridWrapper table-responsive">
            <table class="itemsGrid table tabled-bordered table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {%  for user in collection.items %}
                        <tr>
                            <td>{{ user.username|e }}</td>
                            <td>{{ user.fullname|e }}</td>
                            <td>{{ user.email|e }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
            {{ pagination.renderNavPanelPattern1(collection) }}
        </div>
    </div>
{% endblock %}
