{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle::pagination.html.twig' as pagination %}

{% block title %}Users list{% endblock %}

{% block header %}
    {% set route_group = 'users' %}
    {{ parent() }}
{%  endblock %}

{% block body %}
    <div id="container">
        <!-- grid content -->
        <div id="userGridWrapper table-responsive">
            <h2>Users</h2>
            <table class="itemsGrid table tabled-bordered table-striped">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {%  for user in users.items %}
                        <tr>
                            <td>{{ user.username|e }}</td>
                            <td>{{ user.fullname|e }}</td>
                            <td>{{ user.email|e }}</td>
                            <td>
                                <a href="{{ path('user_view', {'id': user.id}) }}">View</a>
                                {% if is_granted('ROLE_ADMIN') %} |
                                <a href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
            {{ pagination.renderNavPanelPattern1(users, 'users_list', {}) }}
        </div>
    </div>
{% endblock %}
