{# Project page activities renderers #}
{% macro render_comment_post_for_project(activity) %}
    <div class="line">
        <a class="user-link" target="_blank" href="{{ path('user_view', {'id': activity.user.id}) }}">
            {{ activity.user.fullname }}
        </a> commented issue
        <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': activity.issue.id}) }}">
            {{ activity.snappedData.issue_code }}
        </a> on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
    <div class="line">
        <p class="snapped-info">Comment summary "{{ activity.snappedData.comment_body[:50] ~ '...' }}"</p>
    </div>
{% endmacro %}

{% macro render_new_issue_for_project(activity) %}
    <div class="line">
        <a class="user-link" target="_blank" href="{{ path('user_view', {'id': activity.user.id}) }}">
            {{ activity.user.fullname }}
        </a> created new issue
        <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': activity.entityId}) }}">
            {{ activity.snappedData.issue_code }}
        </a> on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
{% endmacro %}

{% macro render_issue_change_status_for_project(activity) %}
    <div class="line">
        <a class="user-link" target="_blank" href="{{ path('user_view', {'id': activity.user.id}) }}">
            {{ activity.user.fullname }}
        </a> changed status of the issue
        <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': activity.issue.id}) }}">
            {{ activity.snappedData.issue_code }}
        </a> from "{{ activity.snappedData.old_status }}" to "{{ activity.snappedData.status }}"
        on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
{% endmacro %}

{# Issue page activities renderers #}
{% macro render_comment_post_for_issue(activity) %}
    <div class="line">
        <a class="user-link" target="_blank" href="{{ path('user_view', {'id': activity.user.id}) }}">
            {{ activity.user.fullname }}
        </a> left comment on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
    <div class="line">
        <p class="snapped-info">"{{ activity.snappedData.comment_body[:50] ~ '...' }}"</p>
    </div>
{% endmacro %}

{% macro render_new_issue_for_issue(activity) %}{% endmacro %}

{% macro render_issue_change_status_for_issue(activity) %}
    <div class="line">
        <a class="user-link" target="_blank" href="{{ path('user_view', {'id': activity.user.id}) }}">
            {{ activity.user.fullname }}
        </a> changed status of the issue from "{{ activity.snappedData.old_status }}" to "{{ activity.snappedData.status }}"
        on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
{% endmacro %}

{# User page activities renderers #}
{% macro render_comment_post_for_user(activity) %}
    <div class="line">
        Issue
        <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': activity.issue.id}) }}">
            {{ activity.snappedData.issue_code }}
        </a> commenting on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
    <div class="line">
        <p class="snapped-info">Comment summary "{{ activity.snappedData.comment_body[:50] ~ '...' }}"</p>
    </div>
{% endmacro %}

{% macro render_new_issue_for_user(activity) %}
    <div class="line">
        Issue
        <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': activity.entityId}) }}">
            {{ activity.snappedData.issue_code }}
        </a> creation on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
{% endmacro %}

{% macro render_issue_change_status_for_user(activity) %}
    <div class="line">
        Status change of the issue
        <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': activity.issue.id}) }}">
            {{ activity.snappedData.issue_code }}
        </a> from "{{ activity.snappedData.old_status }}" to "{{ activity.snappedData.status }}"
        on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </div>
{% endmacro %}

{# Activities renderers for email #}
{% macro render_comment_post_for_email(activity) %}
    <p>
        <a href="{{ url('user_view', {'id': activity.user.id}) }}">{{ activity.user.fullname }}</a> commented issue
        <a href="{{ url('issue_view', {'id': activity.issue.id}) }}">{{ activity.snappedData.issue_code }}</a>
        on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </p>
    <p class="snapped-info">Comment summary "{{ activity.snappedData.comment_body|nl2br ~ '...' }}"</p>
{% endmacro %}

{% macro render_new_issue_for_email(activity) %}
    <p>
        <a href="{{ url('user_view', {'id': activity.user.id}) }}">{{ activity.user.fullname }}</a> created new issue
        <a href="{{ url('issue_view', {'id': activity.entityId}) }}">{{ activity.snappedData.issue_code }}</a>
        on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </p>
{% endmacro %}

{% macro render_issue_change_status_for_email(activity) %}
    <p>
        <a href="{{ url('user_view', {'id': activity.user.id}) }}">{{ activity.user.fullname }}</a> changed status of the issue
        <a href="{{ url('issue_view', {'id': activity.issue.id}) }}">{{ activity.snappedData.issue_code }}</a>
        from "{{ activity.snappedData.old_status }}" to "{{ activity.snappedData.status }}"
        on <span class="created-date">{{ activity.createdAt|date("F jS \\a\\t g:ia") }}</span>
    </p>
{% endmacro %}
