{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle:activity:macros.html.twig' as activityMacros %}
{% import 'BugTrackerBundle::pagination.html.twig' as pagination %}

{% block title %}Dashboard{% endblock %}
{% block body %}
    <div id="container">
        <div id="dashboardWrapper">
            <h2 class="summary">Dashboard</h2>

            <div class="row">
                {% set activities = bt_ %}
                {% if activities|length %}
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Activity</strong></div>
                            <div class="panel-body">
                                <ul class="activities list-unstyled">
                                    {% for activity in activities.items %}
                                        {% if loop.first == false %}<hr />{% endif %}
                                        <li>
                                            {% set targetActivityRenderer =  'render_' ~ activity.type ~ '_for_user' %}
                                            {% if attribute(activityMacros, targetActivityRenderer) is defined %}
                                                {{ attribute(activityMacros, targetActivityRenderer, {'activity': activity}) }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ pagination.renderNavPanelPattern1(activities) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if issues|length %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Opened/Reopened Issues</strong></div>
                            <div class="panel-body">
                                <ul class="activities list-unstyled">
                                    {% for issue in issues.items %}
                                        {% if loop.first == false %}<hr />{% endif %}
                                        <li>
                                            <div class="line">
                                                <a class="issue-link" target="_blank" href="{{ path('issue_view', {'id': issue.Id}) }}">
                                                    {{ issue.code }}
                                                </a>
                                            </div>
                                            <div class="line">
                                                "{{ issue.summary[:60] }}..."
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {{ pagination.renderNavPanelPattern1(issues) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
