{% extends 'BugTrackerBundle::base.html.twig' %}

{% block header %}
    {% set route_group = 'projects' %}
    {{ parent() }}
{%  endblock %}

{% block body %}
    <div id="container">
        <div id="userEditWrapper">
            <ul class="actions">
                {% if is_granted('edit', $user) %}
                    <li><a href="{{ path('user_edit', {'id': user.id }) }}">Edit profile</a></li>
                {% endif %}
            </ul>

            <div class="headedContainer">
                <h2 class="heading">Details</h2>
                <dl class="details">
                    <dt>Username</dt><dd>{{ user.username }}</dd>
                    <dt>Fullname</dt><dd>{{ user.fullname }}</dd>
                    <dt>Email</dt><dd>{{ user.email }}</dd>
                    <dt>Roles</dt><dd>{{ user.roles|join(', ') }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
