{% extends 'BugTrackerBundle::base.html.twig' %}

{% block title %}Create project{% endblock %}

{% block header %}
    {% set route_group = 'projects' %}
    {{ parent() }}
{%  endblock %}

{% block body_class %}centered-body{% endblock %}

{% block body %}
    <div class="vertical-center">
        <div class="jumbotron col-sm-9 form-horizontal">
            {{ form_start(form, {'attr': {'id': 'issueForm'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    {{ form_label(form.label) }}
                </div>
                <div class="col-sm-9">
                    {{ form_errors(form.label) }}
                    {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    {{ form_label(form.code) }}
                </div>
                <div class="col-sm-9">
                    {{ form_errors(form.code) }}
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    {{ form_label(form.summary) }}
                </div>
                <div class="col-sm-9">
                    {{ form_errors(form.summary) }}
                    {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.create, {'attr': {'class': 'btn btn-default'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
