{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle:activity:macros.html.twig' as activityMacros %}
{% import 'BugTrackerBundle::pagination.html.twig' as pagination %}

{% block title %}[{{ project.code }}] | {{ project.summary[:40] }}... {% endblock %}

{% block header %}
    {% set route_group = 'projects' %}
    {{ parent() }}
{%  endblock %}


{% block body %}
    <div id="container">
        <div id="projectWrapper">
            <h2 class="summary">{{ project.summary }}</h2>

            {% if is_granted('ROLE_MANAGER') %}
            <div class="navbar actions">
                <div class="container-fluid">
                    <div class="nav navbar-nav">
                        <a href="{{ path('issue_new', {'id': project.id}) }}" class="btn btn-default navbar-btn">New Issue</a>
                        <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-default navbar-btn">Edit</a>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Details</strong></div>
                <div class="panel-body">
                    <dl class="details dl-horizontal">
                        <dt>Label</dt><dd>{{ project.label }}</dd>
                        <dt>Code</dt><dd>{{ project.code }}</dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                {% set activities = bt_project_activities(project) %}
                {% if activities|length %}
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Activity</strong></div>
                        <div class="panel-body">
                            <ul class="activities list-unstyled">
                                {% for activity in activities.items %}
                                    {% if loop.first == false %}<hr />{% endif %}
                                <li>
                                    {% set targetActivityRenderer =  'render_' ~ activity.type ~ '_for_project' %}
                                    {% if attribute(activityMacros, targetActivityRenderer) is defined %}
                                        {{ attribute(activityMacros, targetActivityRenderer, {'activity': activity}) }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {{ pagination.renderNavPanelPattern1(activities, "project_view", {"id": project.id}) }}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% set members = bt_project_members(project) %}
                {% if members|length %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Members</strong></div>
                        <div class="panel-body">
                            <ul class="members list-unstyled">
                                {% for member in members.items %}
                                    {% if loop.first == false %}<hr />{% endif %}
                                <li>
                                    <a class="user-link"target="_blank" href="{{ path('user_view', {'id': member.id}) }}">
                                        {{ member.fullname }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {{ pagination.renderNavPanelPattern1(members, "project_view", {"id": project.id}) }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
