{% extends 'BugTrackerBundle::base.html.twig' %}
{% import 'BugTrackerBundle:activity:macros.html.twig' as activityMacros %}

{% block body %}
    <div id="container">
        <div id="issueWrapper">
            <h2 class="code">{{ issue.code }}</h2>
            <h3>{{ issue.summary }}</h3>
            <hr />

            <div class="navbar actions">
                <div class="container-fluid">
                    <div class="nav navbar-nav">
                        {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('issue_edit', {'id': issue.id}) }}" class="btn btn-default navbar-btn">Edit</a>
                        {% endif %}
                        <a href="#commentFormWrapper" class="btn btn-default btn-comment navbar-btn">Comment</a>
                        <a href="#" class="btn btn-default navbar-btn">Change Status</a>
                        {% if issue.type == 'story' %}
                            <a href="{{ path('new_story_subtask', {'id': issue.id}) }}" class="btn btn-default navbar-btn">Create Subtask</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Details</strong></div>
                        <div class="panel-body">
                            <dl class="details dl-horizontal">
                                <dt>Type</dt><dd>{{ issue.type }}</dd>
                                <dt>Priority</dt><dd>{{ issue.priority }}</dd>
                                <dt>Status</dt><dd>{{ issue.status }}</dd>
                                <dt>Resolution</dt><dd>{{ issue.resolution }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>People</strong></div>
                        <div class="panel-body">
                            <dl class="people dl-horizontal">
                                <dt>Assignee</dt><dd>{{ issue.assignee.fullname }}</dd>
                                <dt>Reporter</dt><dd>{{ issue.reporter.fullname }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Description</strong></div>
                <p class="description panel-body">{{ issue.description }}</p>
            </div>

            {% if issue.children|length %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Sub-tasks</strong></div>
                <div class="panel-body">
                    <ul class="subtasks">
                        {% for sub_issue in issue.children %}
                        <li>
                            <a target="_blank" href="{{ path('issue_view', {'id': sub_issue.id}) }}">
                                <span class="summary">{{ sub_issue.summary }}</span> |
                                <span class="summary">{{ sub_issue.code }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if issue.parent %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Parent task</strong></div>
                <div class="parent-task panel-body">
                    <a target="_blank" href="{{ path('issue_view', {'id': issue.parent.id}) }}">
                        <span class="summary">{{ issue.parent.summary }}</span> |
                        <span class="summary">{{ issue.parent.code }}</span>
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Activity</strong></div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#issueActivityTab">Activity</a></li>
                        <li><a data-toggle="tab" href="#issueCommentsTab">Comments</a></li>
                        <li><a data-toggle="tab" href="#issueCollaboratorsTab">Collaborators</a></li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div id="issueActivityTab" class="active tab-pane fade in">
                            {% if activities|length %}
                            <ul class="activities list-unstyled">
                                {% for activity in activities %}
                                <li>
                                    {% if loop.first == false %}<hr />{% endif %}
                                    {% set targetActivityRenderer =  'render_' ~ activity.type ~ '_for_issue' %}
                                    {% if attribute(activityMacros, targetActivityRenderer) is defined %}
                                        {{ attribute(activityMacros, targetActivityRenderer, {'activity': activity}) }}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div id="issueCommentsTab" class="tab-pane fade">
                            {% if comments|length %}
                            <ul class="comments list-unstyled">
                            {% for comment in comments %}
                                <li>
                                    {% if loop.first == false %}<hr />{% endif %}
                                    <a class="user-link" target="_blank" href="{{ path('user_view', {'id': comment.author.id}) }}">
                                        {{ comment.author.fullname }}
                                    </a>
                                    <p class="body">{{ comment.body|nl2br }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}

                            <button class="btn btn-primary btn-comment">Comment</button>
                        </div>
                        <div id="issueCollaboratorsTab" class="tab-pane fade">
                            <ul class="collaborators list-unstyled">
                            {% for collaborator in issue.collaborators %}
                                <li>
                                    {% if loop.first == false %}<hr />{% endif %}
                                    <a class="user-link" target="_blank" href="{{ path('user_view', {'id': collaborator.id}) }}">
                                        {{ collaborator.fullname }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="commentFormWrapper" class="collapse panel-body form-horizontal">
                        {{ form_start(comment_form, {'attr': {'id': 'commentForm'}}) }}
                        <div class="form-group">
                            <div class="col-sm-8">
                                {{ form_widget(comment_form.body, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                {{ form_widget(comment_form.add, {'attr': {'class': 'btn btn-primary'}}) }}
                                {{ form_widget(comment_form.cancel, {'attr': {'class': 'btn btn-default btn-cancel-comment'}}) }}
                            </div>
                        </div>
                        {{ form_end(comment_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
